h1 {
 font-size: 5em;
 color: #000000;
 font-family: impact;
}

#mid {
  display: inline-block;
  text-align: center;
  width: 75%;
  background-color: white;
}

body {
  text-align: center;
}



html {
  background-image: url(assets/pepetoy.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

@font-face {
  font-family: impact;
  src: url(assets/impact.ttf);
}